<!DOCTYPE HTML>
</html>
<head>
<title>Sarah Cleeremans </title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/css/main.css"></head>
<body>

<div id = "container">
<div id="header">

<ul style="list-style-type:none">
<li> Sarah Cleeremans</li>
<li> Brussels / New York</li>
<li> e.<a href="mailto:sarah.cleeremans@gmail.com">sarah.cleeremans@gmail.com</a></li>
<li> t. 929 500 5086</li>
</div>
<div id="body">

<p>
I am graphic designer and typographer with a special interest in printed
matter, publication design and webdesign. An intrepid observer and always curious,
I am interested in language, form, and the human condition. I have worked at <a href="http://www.projectprojects.com/"> Project Projects</a> and I am currently working with  <a href="http://www.lifeofthemind.net/"> Mark Owens</a>.
 
I also keep a <a href="http://sarisarasarax.tumblr.com"> photo blog</a> and a 

<a href="http://underthecircumstance.tumblr.com."> typographical / graphic design archive</a>.

<p>
Please feel free to get in touch for my Portfolio or a any inquiries !
</p>
</div>
<div id="footer">
Updated 10.06.2016</p>

</div>
</body>
